/* stylelint-disable selector-class-pattern */

@use '../base/variables' as vars;
@use '../base/mixins' as mix;
@use '../base/functions' as fn;

// Variables locales de altura del carrusel

.catalog {
  @include mix.respond-to(md) {
   margin: auto;
   max-width: fn.rem(1440);
   padding-top: 2rem;
  }

   &__eyetcher{
    margin: auto;
    margin-bottom: 3rem;
    max-width: fn.rem(990);
    text-align: center;

   }

   &__eyetcherTitle{
    font-size: 2rem;
    text-transform: capitalize;

    @include mix.respond-to(md) {
      font-size: 3rem;
      text-transform: capitalize;
    }

    @include mix.respond-to(lg) {
      font-size: 4rem;
    }
   }                   
}
