// Importación de utilidades base
@use '../base/variables' as vars;
@use '../base/mixins' as mix;
@use '../base/functions' as fn;

$color-en-vivo: green;
$espaciado-base: 1rem;

// Módulo: Carrusel de programación
.programacion-carousel {
  background-color: white;
  bottom: 0;
  box-shadow:  rgb(0 0 0 / 50%) 0 2px 10px;
  display: flex;
  position: fixed;

/*  display: flex;
  overflow-x: auto;
  gap: $espaciado-base;
  scroll-snap-type: x mandatory;
  padding: $espaciado-base; */
  width: 100%;
  z-index: 22;
 
 
  &__modul {
  padding-left: 3rem ;
  }

 &__content {
  height: 5.5rem;
  overflow: hidden;
  padding: .5rem 0 0;
  width: 100%;

   @include mix.respond-to(md) {
    padding: .5rem 0 0;
    width: 68%;
   }
 }

 &__envivo {
  color: red;
  display: none;

  &:hover {
    color:vars.$color-text;
  } 

 }

  &__estado--en-vivo {
     display: inline-block;
  }

 &__titulo-modulo {
    background-color:gainsboro;
    color: vars.$color-text;
    display: none;
    width: 12%;

     @include mix.respond-to(md) {
        align-items: flex-start;
        display: flex; 
        flex-direction: column;
        padding: 1rem 1rem 1rem 2rem;

      h3 {
        font-size: 1.7rem;
        line-height: 1;
      }

     }
  }

  

  &__item {
     display: flex;
     gap: .5rem;
     padding: .7rem 3rem 0 1rem;
     width: auto;


    &:focus-within {
      outline: 2px solid #000;
    }
  }

  &__etiqueta {
    align-items: center;
    color: vars.$color-white;
    display: flex;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.25rem .5rem;

    &--musica {
      background-color: vars.$color-musical;
      color: vars.$color-text;
    }

    &--informativo {
      background-color: vars.$color-informativo;
    }

    &--avisos {
      background-color: vars.$color-avisos;
      color: vars.$color-text;
    }

    &--radio-revista {
      background-color: vars.$color-revista;
    }

    &--novela {
      background-color: vars.$color-novela;
    }


    &--contenido {
      background-color: vars.$color-contenido;
      color: vars.$color-text; 
    }
  }




  &__hora {
    color: vars.$color-text;
    display: block;
    font-size: 0.875rem;
    line-height: 1;
  }


  &__titulo {
    color: #222;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__escucha-vivo {
    align-items: center;
    background-color: vars.$color-primary;
    border-left: 1rem solid vars.$color-text;
    display: none;
    padding: 0 0 0 2rem;
    width: 20%;

    a {
      color: white;
      font-size: 1.4rem;
    } 

     @include mix.respond-to(md) {
      display: flex;
     }
  }



  .owl-nav {
    .owl-next,
    .owl-prev 
    {
      background-color: white !important;
      background-image: url("./images/next.png") !important;
      background-position: center  !important;
      background-repeat: no-repeat !important;
      background-size: 2.5rem !important;
    box-shadow: -1px 0 5px 0 rgb(0 0 0 / 75%);
    box-shadow: -1px 0 5px 0 rgb(0 0 0 / 75%);
      box-shadow: -1px 0 5px 0 rgb(0 0 0 / 75%);
      height: 5.5rem;
      position: absolute;
      right: 0;
      top: -.5rem;
      width: 3.4rem;

      span {
        display: none;
      }
    }

    .owl-prev {
      background-image: url("./images/prev.png") !important;
      left: 0;
    }
  }
}
