// Importación de utilidades base
@use '../base/variables' as vars;
@use '../base/mixins' as mix;
@use '../base/functions' as fn;

// variables  locales
// Variables locales
$boder-defaul: vars.$border-base-radio;

// Contenedor de metainformación (fecha, vistas)

.frame-img {
  background-color: vars.$color-text;
  border: $boder-defaul vars.$color-text solid;
  border-radius: vars.$border-base-radio;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    inset: 0;
    object-fit: cover; // hace que se comporte como fondo
    object-position: center center; // ← centra horizontal y vertical
    opacity: .9 !important;
    position: absolute;
    width: 100%;
  }
}
